.movie-card {
  width: auto;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.movie-poster {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.movie-title {
  color: #fff;
  font-size: 16px;
  margin-top: 6px;
}
