<div class="auth-center">
  <h1 class="header">Cine<span class="blue-text">List</span></h1>
  <div class="col-6 form-widget" aria-live="polite">
    <p class="title">{{ isSignUp ? 'Criar conta' : 'Entrar' }}</p>
    <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
      <div>
        <app-input
          label="E-mail"
          type="email"
          placeholder="cinelist@cinelist.com"
          [control]="controls['email']"
          id="email"
        />
        <ng-container *ngIf="isSignUp">
          <app-input
            label="Confirmar e-mail"
            type="email"
            placeholder="Confirme seu e-mail"
            [control]="controls['confirmEmail']"
            id="confirmEmail"
          />
        </ng-container>
        <app-input
          label="Senha"
          type="password"
          placeholder="*****"
          [control]="controls['password']"
          id="password"
        />
        <ng-container *ngIf="isSignUp">
          <app-input
            label="Confirmar senha"
            type="password"
            placeholder="Confirme sua senha"
            [control]="controls['confirmPassword']"
            id="confirmPassword"
          />
        </ng-container>
        <div class="forgot-container" *ngIf="!isSignUp">
          <button type="button" class="forgot-btn">Recuperar senha</button>
        </div>
      </div>
      <div class="button-container">
        <button class="custom-btn" type="submit" [disabled]="loading">
          {{ isSignUp ? 'Criar conta' : 'Entrar' }}
        </button>
      </div>
      <div class="signup-container">
        <button type="button" class="signup-btn" (click)="switchMode()">
          {{ isSignUp ? 'Entrar' : 'Criar conta' }}
        </button>
      </div>
    </form>
  </div>
</div>
