.details-container {
  margin: 80px auto 200px auto;
  max-width: 1200px;
  background: transparent;
}

.details-section {
  display: flex;
  height: 350px;
  align-items: flex-start;
}

.movie-poster {
  max-height: 100%;
  height: auto;
  width: auto;
  object-fit: contain;
  display: block;
}

.top-container {
  display: flex;
  width: 100%;
  padding-left: 20px;
  align-items: baseline;
}

.title-container {
  font-size: 42px;
}

.rating-container {
  display: flex;
  margin-left: 20px;
}

.synopsys-container {
  display: flex;
  height: 100%;
  margin-left: 20px;
}

.content-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.genres-container {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin-left: 20px;
  margin-bottom: 12px;
}

.credits-title {
  margin-left: 20px;
  font-size: 18px;
  padding-bottom: 8px;
}

.credits-container {
  display: flex;
}

.credits-row .credits-content:not(:last-child)::after {
  content: "•";
  margin-right: 4px;
}

.credits-row {
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  color: #569fff;
  font-size: 18px;
  padding-bottom: 8px;
}

.star-rating-container {
  display: flex;
  margin-top: 20px;
}

.star-rating-top-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.send-button-container {
  display: flex;
  align-items: end;
  justify-content: flex-end;
  margin-bottom: 12px;
}

.send-button {
  background-color: #569fff;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-size: 20px;
  padding: 4px 20px;
  cursor: pointer;
}

.send-button:hover {
  background-color: #4c80c5; // cor mais escura no hover/focus
}
.send-button:active {
  background-color: #3776c7; // cor ainda mais escura enquanto o botão está pressionado
}

.loading-message {
  color: #569fff;
  margin-bottom: 8px;
}
.success-message {
  color: #2ecc40;
  margin-bottom: 8px;
}
.error-message {
  color: #ff4136;
  margin-bottom: 8px;
}
