.main-container {
  margin: 80px auto 200px auto;
  max-width: 1200px;
  background: transparent;
}

.content-container {
  margin: 0;
}

.blue-text {
  color: #569fff;
}

.home-title {
  font-size: 42px;
}

.home-title h2 {
  margin: 0;
  padding: 0;
}
.search-container {
  display: flex;
  gap: 12px;
}

.movies-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 12px;
}

.top-list-container {
  display: flex;
  flex-direction: column;
}
